    <!-- Main container -->
    <div class="container-fluid">
        <!-- Sidebar -->
        <div class="sidebar">
            <h5>Menú</h5>
            <ul class="list-unstyled">
                <li><a href="/fatalidad"><i class="bi bi-bar-chart-fill"></i> Fatalidad de Accidentes</a></li>
                <li><a href="/fatalidadvelocidad"><i class="bi bi-bar-chart"></i> Velocidad y Fatalidad</a></li>
                <li><a href="/severidad"><i class="bi bi-pie-chart"></i> Severidad de Accidentes</a></li>
                <li><a href="/razones"><i class="bi bi-pie-chart"></i> Razones de choque</a></li>
                <li><a href="/vias"><i class="bi bi-graph-up-arrow"></i> Vías Tráfico</a></li>
                <li><a href="/distribucion"><i class="bi bi-list-task"></i> Distribución</a></li>
                <li><a href="/diccionario"><i class="bi bi-list-task"></i> Diccionario</a></li>
            </ul>
        </div>